* {
  font-family: "Montserrat";
  /* font-family: "Montserrat", "Open Sans", sans-serif; */
}
#content_index {
  color: blue;
}
#content_index img {
  width: 100px;
}

.campus {
  width: 100%;
  margin: auto;
  text-align: center;
  margin: 20px 0px;
}
.row_campus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.campus-col {
  width: 23%;
  margin: 1%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 2px #777;
}
/* reponsive */
@media screen and (max-width: 1024px) {
  .campus-col {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .campus-col {
    width: 48%;
  }
}

@media screen and (max-width: 475px) {
  .campus-col {
    width: 90%;
  }
}

.campus-col img {
  width: 100%;
  display: block;
}
.campus h1 {
  font-size: 36px;
  font-weight: 600;
}

.title-content {
  text-align: center;
  font-size: 40px;
  color: #d01717;
  border-bottom: 2px solid #d01717;
  padding-bottom: 10px;
}
/* reponsive */
@media screen and (max-width: 768px) {
  .title-content {
    font-size: 30px;
  }
}
@media screen and (max-width: 475px) {
  .title-content {
    font-size: 20px;
  }
}

.campus h3 {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  bottom: 0;
  position: absolute;
}
.campus h3 p {
  color: white;
}

.campus p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 10px;
  margin: 0;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.6s;
  cursor: pointer;
}
.layer:hover {
  background: rgba(240, 133, 39, 0.5);
}
.layer:hover h3 {
  bottom: 40%;
  opacity: 1;
  transition: 0.7s;
}
/* commitment */

.whiteSection {
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 40px;
}
.icon-commitment {
  margin-right: 10px;
}

.commitment-box {
  display: flex;
}
