* {
  outline: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Montserrat, "Open Sans", sans-serif;
}

#main {
  background-color: whitesmoke;
}

#main .container {
  padding-left: 0;
  padding-right: 0;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

#slider {
  padding-top: 20%;
  background: url(../images/slider-image.jpeg) top / cover no-repeat;
  /* max-height: 480px; */
}
/* responsive */
@media screen and (max-width: 475px) {
  #slider {
    padding-top: 30%;
  }
}

.background-description {
  max-height: 160px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px 15px;
  color: #fff;
  padding: 15px 25px;
  border-radius: 4px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.background-description .title {
  margin-bottom: 15px;
  margin-top: 15px;
}

.background-description .title h1 {
  font-size: 32px;
}

.background-description .description {
  text-align: justify;
  font-size: 14px;
  font-weight: 300;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#tour-card {
  margin-top: 20px;
  margin-bottom: 25px;
  padding-bottom: 8px;
  box-shadow: 0 2px 3px -2px grey;
  -moz-box-shadow: 0 2px 3px -2px grey;
  -webkit-box-shadow: 0 2px 3px -2px grey;
}

#tour-card .image-tour {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.image-tour a {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
}

.image-tour .tour-promotion {
  position: absolute;
  bottom: 0px;
  left: 0;
  background: #ff002c;
  line-height: 30px;
  max-width: 80%;
}
.tour-promotion .text-promotion-tour {
  position: relative;
  padding: 0 25px 0 15px;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.tour-promotion::after {
  left: calc(100% - 15px);
  top: 50%;
  border: solid #ff002c;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: #ff002c;
  border-right-color: transparent;
  border-width: 15px;
  margin-top: -15px;
}

.image-tour .img {
  width: 100%;
}

#tour-card .tour-info {
  display: inline-block;
}

.title-tour {
  color: rgb(5, 85, 138);
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 0px;
}

.title-tour:hover {
  opacity: 0.8;
}

.destination-tour {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
}

.time-tour {
  font-weight: 400;
  color: rgb(51, 51, 51);
}

.box-btn-tour-detail {
  padding: 15px 0px 15px;
}

.btn-tour-detail {
  padding: 0 20px;
  margin: 0 auto;
  background: #ff891e;
  display: table;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
}

.btn-tour-detail:hover {
  opacity: 0.8;
  text-decoration: none;
}

.btn-tour-detail span {
  line-height: 40px;
  font-size: 13px;
  color: #fff;
  margin-right: 10px;
  padding: 2px 0;
}
.description-tour {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.day-tour {
  display: flex;
  color: #ff002c;
}
