* {
  outline: 0;
  margin: 0;
  padding: 0;
}

.mainContentSection {
  margin: 40px 0px;
}
.payment-method + .method-content .content {
  display: none;
}

.payment-method:checked + .method-content > .content {
  display: block;
  float: left;
  width: 100%;
  border: 1px dashed #555;
}

.payment-method:checked + .method-content .title {
  background: #5cb85c;
  color: white;
}

.payment-method:checked + .method-content .title i.fa.fa-chevron-down {
  display: none;
}

.payment-method:checked + .method-content .title i.fa-check {
  display: inline-block;
}

.payment-method:checked + .method-content .title > h4 {
  color: white;
}

.payment-method + .method-content .title i.fa.fa-chevron-down {
  display: block;
}

.method .title {
  padding-right: 70px !important;
}

.method .title i.fa-check {
  top: 15%;
  font-size: 55px;
  display: none;
}

.payment-wrap .methods {
  margin-top: 15px;
}

.methods .method {
  margin: 2px 0;
}

.highlight-text {
  margin-left: 5px;
  margin-top: 26px;
  color: #000;
}

.highlight-text li {
  font-size: 13px;
  font-style: italic;
  list-style-type: disc;
}

.method.active .title {
  border: 1px solid #55b776;
}

.method .title label {
  text-transform: uppercase;
  color: #222;
  font-size: 17px;
}

.method .title .description {
  font-size: 13px;
}

.method.active .title i {
  display: none;
}

.method.active .content {
  display: block;
}

.method .submit {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.booking-container .continue-btn {
  padding: 10px 60px 10px 10px;
  overflow: hidden;
  border: none;
  font-family: inherit;
  font-size: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background: #00552b;
  color: #fff;
}

.booking-container .continue-btn:before {
  font-family: "FontAwesome";
  content: "\f178";
  right: 0;
  z-index: 2;
  position: absolute;
  height: 100%;
  left: auto;
  top: 0;
  line-height: 40px;
  font-size: 110%;
  width: 35px;
}

.booking-container .continue-btn:after {
  content: "";
  width: 30%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  right: 0;
  top: 0;
  margin: -5px 0 0 -5px;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(-20deg);
  -moz-transform-origin: 0 0;
  -moz-transform: rotate(-20deg);
  -ms-transform-origin: 0 0;
  -ms-transform: rotate(-20deg);
  transform-origin: 0 0;
  transform: rotate(-20deg);
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.booking-container .payment-wrap .title {
  float: left;
  margin: 25px 0;
  width: 100%;
}

.list-inline .textInfo {
  width: 130px;
}

.list-inline label,
.list-inline h5 {
  display: none;
}

/*-----------------------------TOP HEADER----------------------------------*/

.pageTitle {
  margin-top: 0px;
}

.top-header {
  background: #0072bc91;
  font-size: 12px;
  height: 32px;
}

.top-header.lightHeader {
  display: none;
}

.header .container .navbar-fixed-top.lightHeader {
  margin-top: 0px !important;
}

.top-header a {
  color: #fff;
  font-size: 12px;
}

.top-header a:hover {
  color: #ff891e;
}

.top-header li a i {
  margin-right: 5px;
  margin-top: 2px;
  font-size: 16px;
}

.top-header ul {
  list-style: none;
  padding-left: 0;
}

.top-header ul li {
  float: left;
}

.top-header li a {
  display: block;
  margin: 5px 8px;
  padding: 0 5px;
  line-height: 22px;
}

.top-header li a.media-link {
  padding: 0 2px;
  margin: 15px 0;
}

.top-header .login-container {
  margin-left: 20px;
  float: right;
}

.top-header .login-container li a.login-href {
  border-right: 1px solid #fff;
  margin: 5px 0;
  padding: 0 10px;
  line-height: 22px;
}

.top-header .login-container li a.login-href > i {
  margin-right: 5px;
}

.top-header .login-container li a.login-href > i.flag-english {
  margin-top: 3px;
  display: block;
  float: left;
  height: 14px;
  width: 18px;
  margin-right: 5px;
  background: url(/images/flags.jpg) no-repeat;
  background-position: -7px 0;
}

.top-header .login-container li:last-child a.login-href {
  border-right: none;
}

.phone-login-href {
  display: none;
}

.ticket-hotline {
  font-size: 12px !important;
}

/*---------------------------------------------------*/

.sectionTitle .main-color {
  color: #05558a;
}

.sectionTitle .content-title .title {
  color: #0968c5;
  font-weight: 600;
  font-size: 26px;
  text-transform: uppercase;
  border-bottom: 1px solid #0968c5;
}

.sectionTitle .content-title .title-tour-new {
  color: #036;
  font-weight: 600;
  font-size: 26px;
  text-transform: uppercase;
}

.fix-silder-hidden {
  padding: 0 10px;
}

.fix-silder-hidden .image-carousel-kiritm .flex-viewport {
  padding: 5px;
}

.box-kiritm {
  float: left;
  padding-bottom: 8px;
  margin-bottom: 15px;
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.4);
  width: 100%;
}

.box-kiritm img {
  width: 100% !important;
  height: 69.5% !important;
  position: relative;
}

.box-kiritm .details-kiritm {
  position: relative;
}

.box-kiritm .details-kiritm .promotion-tour {
  position: absolute;
  top: -30px;
  left: 0;
  background: #ff002c;
  line-height: 30px;
  max-width: 80%;
}

.box-kiritm .details-kiritm .promotion-tour .text-promotion-tour {
  position: relative;
  padding: 0 25px 0 15px;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.box-kiritm .details-kiritm .promotion-tour:after {
  left: calc(100% - 15px);
  top: 50%;
  border: solid #ff002c;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: #ff002c;
  border-right-color: transparent;
  border-width: 15px;
  margin-top: -15px;
}

.box-kiritm .details-kiritm .top-details {
  width: 100%;
  float: left;
  margin: 10px 0;
  padding: 0 10px;
}

.box-kiritm .details-kiritm .top-details .tour-tag {
  float: left;
  width: 100%;
  display: flex;
}

.box-kiritm .details-kiritm .top-details .tour-tag .tag-detail {
  flex: 1;
  font-size: 13px;
  color: #555;
  line-height: 22px;
}

.box-kiritm .details-kiritm .top-details .tour-tag .number-detail {
  width: 120px;
  font-size: 13px;
  color: #555;
  line-height: 22px;
  font-style: italic;
  text-align: right;
}

.box-kiritm .details-kiritm .name-tour-detail {
  color: #05558a;
  float: left;
  width: 100%;
  font-size: 13px;
  text-align: left;
  padding: 4px 10px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 600;
}

.box-kiritm .details-kiritm .name-tour-detail > a {
  text-decoration: none;
  color: #05558a;
  float: left;
  width: 100%;
  font-size: 13px;
  text-align: left;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 44px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-line-clamp: 2;
  -moz-box-orient: vertical;
}

.box-kiritm .details-kiritm .bottom-detail {
  padding: 2px 10px;
  float: left;
  width: 100%;
  display: flex;
}

.box-kiritm .details-kiritm .bottom-detail .info-tour {
  flex: 1;
  font-size: 13px;
  color: #555;
  line-height: 30px;
}

.box-kiritm .details-kiritm .bottom-detail .info-tour .strong {
  font-weight: 600;
}

.box-kiritm .details-kiritm .bottom-detail .action-tour {
  width: 90px;
  text-align: right;
}

.box-kiritm .details-kiritm .bottom-detail .action-tour .btn-kiritm {
  height: 26px;
  text-transform: none;
  background-color: #ff891e;
  color: #ffffff !important;
  font-size: 13px;
  border-radius: 0;
  line-height: 23px;
  margin-right: -10px;
  text-align: center;
  padding: 0 10px;
}

.box-kiritm .details-kiritm .detail-tour-tag {
  width: 100%;
  float: left;
  margin: 10px 0;
  padding: 0 10px;
}

.box-kiritm .details-kiritm .detail-tour-tag .tag-detail {
  font-size: 13px;
  color: #555;
  line-height: 22px;
}

.box-kiritm .details-kiritm .detail-title {
  float: left;
  padding: 0 10px;
  width: 100%;
}

.box-kiritm .details-kiritm .detail-title .detail-title-text {
  line-height: 20px;
  font-size: 13px;
  color: #555;
  border-bottom: 1px solid #555;
}

.box-kiritm .details-kiritm .detail-name {
  float: left;
  width: 100%;
  padding: 8px 10px;
}

.box-kiritm .details-kiritm .detail-name .detail-name-text {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 44px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-line-clamp: 2;
  -moz-box-orient: vertical;
}

.box-kiritm .subject-kiritm {
  position: absolute;
  float: left;
  bottom: 0;
  width: 100%;
}

.box-kiritm .subject-kiritm .subject-kiritm-text {
  text-align: left;
  padding-left: 15px;
  color: #fff;
  font-size: 13px;
  height: 22px;
  line-height: 22px;
}

.box-kiritm .subject-kiritm .subject-kiritm-title {
  text-align: left;
  padding-left: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  height: 32px;
  line-height: 32px;
  background: #0a0a0aa1;
}

.box-kiritm.box-tour {
  margin: 15px 0;
  position: relative;
}

.box-kiritm.box-tour figure {
  margin: 0;
}

.box-kiritm.box-tour figure .promotion-tour {
  position: absolute;
  bottom: 0px;
  left: 0;
  background: #ff002c;
  line-height: 30px;
  max-width: 80%;
}

.box-kiritm.box-tour figure .promotion-tour .text-promotion-tour {
  position: relative;
  padding: 0 25px 0 15px;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.box-kiritm.box-tour figure .promotion-tour:after {
  left: calc(100% - 15px);
  top: 50%;
  border: solid #ff002c;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: #ff002c;
  border-right-color: transparent;
  border-width: 15px;
  margin-top: -15px;
}

.box-kiritm.box-tour .box-tour-price {
  position: absolute;
  padding: 5px 0px;
  top: 35px;
  right: 0px;
  background: #ff891e;
  color: #fff;
  width: 110px;
}

.box-kiritm.box-tour .box-tour-price .text {
  color: #fff;
  text-align: right;
  width: 100%;
  float: left;
  font-size: 12px;
  line-height: 18px;
  padding: 0px 10px;
  margin: 0;
}

.box-kiritm.box-tour .box-tour-price .price {
  color: #fff;
  text-align: right;
  width: 100%;
  float: left;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding: 0px 10px;
  margin: 0;
}

.box-kiritm.box-tour .box-tour-price .info {
  color: #fff;
  text-align: right;
  width: 100%;
  float: left;
  font-size: 12px;
  line-height: 18px;
  padding: 0px 10px;
  margin: 0;
}

.box-kiritm.box-tour .details-kiritm {
  position: relative;
}

.box-kiritm.box-tour .details-kiritm .promotion-tour {
  position: absolute;
  top: -30px;
  left: 0;
  background: #ff002c;
  line-height: 30px;
  max-width: 80%;
}

.box-kiritm.box-tour .details-kiritm .promotion-tour .text-promotion-tour {
  position: relative;
  padding: 0 25px 0 15px;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.box-kiritm.box-tour .details-kiritm .promotion-tour:after {
  left: calc(100% - 15px);
  top: 50%;
  border: solid #ff002c;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: #ff002c;
  border-right-color: transparent;
  border-width: 15px;
  margin-top: -15px;
}

.box-kiritm.box-tour .details-kiritm .name-tour-detail {
  padding: 15px 15px 8px;
}

.box-kiritm.box-tour .details-kiritm .bottom-detail .info-tour {
  text-transform: uppercase;
}

.box-kiritm.advertisements {
  padding-bottom: 0;
}

.box-kiritm.advertisements .advertisement-content {
  margin: 0;
}

.promotionWrapper .promotion-box-kiritm {
  height: auto;
  float: left;
  margin: 93px 40px;
  background: #03315fd6;
}

.promotionWrapper .promotion-box-kiritm .top-box-header {
  float: left;
  width: 100%;
  padding: 25px 15px 15px 50px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: orangered;
}

.promotionWrapper .promotion-box-kiritm .content-box-title {
  float: left;
  width: 100%;
  padding: 5px 15px 5px 50px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 600;
}

.promotionWrapper .promotion-box-kiritm .bottom-box-description {
  float: left;
  width: 100%;
  display: flex;
  padding: 15px 15px 25px 50px;
}

.promotionWrapper
  .promotion-box-kiritm
  .bottom-box-description
  .text-description {
  flex: 1;
  font-size: 13px;
  line-height: 20px;
}

.promotionWrapper
  .promotion-box-kiritm
  .bottom-box-description
  .action-box-description {
  width: 90px;
  text-align: right;
}

.promotionWrapper
  .promotion-box-kiritm
  .bottom-box-description
  .action-box-description
  .btn-kiritm {
  height: 26px;
  text-transform: none;
  background-color: #ff891e;
  color: #ffffff !important;
  font-size: 13px;
  border-radius: 0;
  line-height: 23px;
  text-align: center;
  padding: 0 10px;
}

@media (max-width: 720px) {
  .promotionWrapper .promotion-box-kiritm {
    height: auto;
    float: left;
    margin: 30px 0;
    background: #03315fd6;
  }

  .promotionWrapper .promotion-box-kiritm .top-box-header {
    padding: 15px 8px 10px 20px;
  }

  .promotionWrapper .promotion-box-kiritm .content-box-title {
    padding: 5px 8px 5px 20px;
    font-size: 16px;
    line-height: 24px;
  }

  .promotionWrapper .promotion-box-kiritm .bottom-box-description {
    padding: 5px 8px 10px 20px;
  }
}

.search-browser-web {
  display: block !important;
}

.search-browser-mobile {
  display: none !important;
}

@media (max-width: 480px) {
  .search-browser-web {
    display: none !important;
  }

  .search-browser-mobile {
    display: block !important;
  }

  .promotionWrapper .promotion-box-kiritm {
    height: auto;
    float: left;
    margin: 20px 0;
    background: #03315fd6;
  }

  .promotionWrapper .promotion-box-kiritm .top-box-header {
    padding: 15px 8px 10px 20px;
  }

  .promotionWrapper .promotion-box-kiritm .content-box-title {
    padding: 5px 8px 5px 20px;
    font-size: 16px;
    line-height: 24px;
  }

  .promotionWrapper .promotion-box-kiritm .bottom-box-description {
    padding: 5px 8px 10px 20px;
  }
}

.detail-tour-kiritm .info-tour {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

.detail-tour-kiritm .info-tour .promotion-tour {
  position: absolute;
  top: -30px;
  left: 0;
  background: #ff002c;
  line-height: 30px;
  max-width: 80%;
}

.detail-tour-kiritm .info-tour .row-info {
  float: left;
  width: 100%;
}

.detail-tour-kiritm .info-tour .row-info span {
  float: left;
  font-size: 13px;
  line-height: 26px;
  padding-right: 6px;
}

.detail-tour-kiritm .info-tour .row-info span.text-strong {
  font-weight: 600;
  font-size: 14px;
  padding-right: 15px;
}

.detail-tour-kiritm .list-tour-detail {
  float: left;
  background: #ffeddf;
  padding: 6px 10px;
  margin-bottom: 15px;
  overflow: hidden;
}

.detail-tour-kiritm .list-tour-detail .tour-detail-header-col {
  padding-top: 10px;
  margin-bottom: 10px;
  margin-top: 0px;
  border-bottom: 1px solid #333;
  font-weight: 600;
  text-transform: uppercase;
}

.detail-tour-kiritm .list-tour-detail .tour-detail-content-col .list-inline {
  margin: 0;
  line-height: 32px;
}

.detail-tour-kiritm
  .list-tour-detail
  .tour-detail-content-col
  .list-inline
  .action-view-more {
  float: right;
  text-align: center;
  display: table;
  vertical-align: middle;
  margin: 10px 0 5px;
}

.detail-tour-kiritm
  .list-tour-detail
  .tour-detail-content-col
  .list-inline
  .action-view-more
  .text-view-more {
  padding: 4px 13px;
  line-height: 28px;
  color: #1870a2;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 1px solid #1870a2;
  font-style: italic;
}

.detail-tour-kiritm
  .list-tour-detail
  .tour-detail-content-col
  .list-inline
  .hidden-tour {
  display: none;
}

.detail-tour-kiritm
  .list-tour-detail
  .tour-detail-content-col
  .list-inline
  .action-book {
  display: flex;
  height: 100%;
  padding: 2px 0;
}

.detail-tour-kiritm
  .list-tour-detail
  .tour-detail-content-col
  .list-inline
  .action-book
  .btn-book-tour {
  line-height: 26px !important;
  font-size: 13px;
  padding: 0 8px;
  color: #fff;
  background: #ff891e;
  margin: 0 auto;
}

.detail-tour-kiritm .row-description {
  float: left;
  width: 100%;
}

.detail-tour-kiritm .row-description .title-description {
  float: left;
  width: 100%;
  font-size: 15px;
  line-height: 28px;
  font-weight: 600;
}

.detail-tour-kiritm .row-description .content-description {
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 25px;
  white-space: pre-wrap;
}

.detail-tour-kiritm .row-info-tour .nav-tabs {
  border-bottom: 1px solid #000;
  display: flex;
}

.detail-tour-kiritm .row-info-tour .nav-tabs > li > a {
  color: #333;
  font-weight: 600;
}

.detail-tour-kiritm .row-info-tour .nav-tabs > li > a:hover {
  color: #ff891e;
}

.detail-tour-kiritm .row-info-tour .nav-tabs > li.active {
  border: 1px solid #000;
  border-bottom-color: transparent;
  border-radius: 5px;
}

.detail-tour-kiritm .row-info-tour .nav-tabs > li.active > a {
  border: 0;
  color: #ff891e;
  font-weight: 600;
}

.accordion-kiritm .btn-link-kirirm {
  border: 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 26px;
  color: #0b58a2;
  padding: 7px 10px;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}

.accordion-kiritm .btn-link-kirirm .glyphicon {
  float: right;
  line-height: 26px;
}

.right-detail-tour-box {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 15px;
  float: left;
  width: 100%;
  margin-bottom: 25px;
}

.right-detail-tour-box .title {
  color: #ff891e;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 7px;
  float: left;
  width: 100%;
}

.right-detail-tour-box .list-rows {
  list-style: none;
}

.right-detail-tour-box .list-rows .item_ {
  padding-left: 8px;
  float: left;
  width: 100%;
}

.right-detail-tour-box .list-rows .item_ > .item_-line {
  margin-bottom: 5px;
  display: flex;
}

.right-detail-tour-box .list-rows .item_ > .item_-line:hover {
  opacity: 1;
}

.right-detail-tour-box .list-rows .item_ > .item_-line:hover > i {
  color: #333;
}

.right-detail-tour-box .list-rows .item_ > .item_-line:hover > .text {
  color: #333;
}

.right-detail-tour-box .list-rows .item_ > .item_-line > i {
  color: #333;
  margin-right: 8px;
  font-size: 16px;
  float: left;
  line-height: 24px;
}

.right-detail-tour-box .list-rows .item_ > .item_-line > .text {
  flex: 1;
  color: #333;
  font-size: 13px;
  float: left;
  line-height: 24px;
}

.right-detail-tour-box .callback-sgt {
  float: left;
  width: 100%;
  display: flex;
  margin: 10px 0;
}

.right-detail-tour-box .callback-sgt .btn-callback-sgt {
  background: #ff891e;
  border: 0;
  margin: 0 auto;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  line-height: 22px;
}

.content-text {
  margin: 10px 0 25px;
}

.contact-hidden {
  display: none;
}

.view-contact-sgt {
  cursor: pointer;
  font-size: 14px;
  margin: 0 10px;
  font-style: italic;
  color: #ff891e;
  font-weight: 600;
  padding: 6px 10px;
  border: 1px solid #ff891e;
}

.modal .modal-dialog-select-tour {
  margin: 150px auto;
}

.modal
  .modal-dialog-select-tour
  .content-select-tour
  .list-select-tour
  .box-tour {
  list-style: none;
  width: 100%;
  float: left;
  display: flex;
  padding: 7px;
}

.modal
  .modal-dialog-select-tour
  .content-select-tour
  .list-select-tour
  .box-tour:hover {
  background: #2ea6f557;
}

.modal
  .modal-dialog-select-tour
  .content-select-tour
  .list-select-tour
  .box-tour
  .date {
  flex: 1;
}

.modal
  .modal-dialog-select-tour
  .content-select-tour
  .list-select-tour
  .box-tour
  .date
  > i {
  font-size: 16px;
  line-height: 28px;
  float: left;
  margin-right: 6px;
}

.modal
  .modal-dialog-select-tour
  .content-select-tour
  .list-select-tour
  .box-tour
  .date
  > span {
  font-size: 13px;
  line-height: 28px;
  float: left;
}

.modal
  .modal-dialog-select-tour
  .content-select-tour
  .list-select-tour
  .box-tour
  .price {
  flex: 1;
}

.modal
  .modal-dialog-select-tour
  .content-select-tour
  .list-select-tour
  .box-tour
  .price
  > i {
  font-size: 16px;
  line-height: 28px;
  float: left;
  margin-right: 6px;
}

.modal
  .modal-dialog-select-tour
  .content-select-tour
  .list-select-tour
  .box-tour
  .price
  > span {
  font-size: 13px;
  line-height: 28px;
  float: left;
}

.modal
  .modal-dialog-select-tour
  .content-select-tour
  .list-select-tour
  .box-tour
  .action
  .buy-tour-kiritm {
  background: #ff891e;
  color: #fff;
  font-size: 13px;
  line-height: 28px;
  padding: 0 8px;
  text-align: center;
}

.modal
  .modal-dialog-select-tour
  .content-select-tour
  .list-select-tour
  .box-tour
  .action
  .buy-tour-kiritm
  > span {
  line-height: 28px;
}

.infoTitle-kiritm {
  margin: 25px 0;
  text-align: center;
  line-height: 44px;
  background: #ff891e;
  color: #fff;
  font-size: 18px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.bookDetailsInfo .infoArea > h3 {
  margin-bottom: 15px;
}

.bookDetailsInfo .infoArea > h3 > a {
  color: #036;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 26px;
  cursor: pointer;
}

.bookDetailsInfo .infoArea .list-unstyled {
  margin-bottom: 20px;
}

.bookDetailsInfo .infoArea .list-unstyled > li {
  padding: 7px 0;
  border-bottom: 0;
}

.bookDetailsInfo .infoArea .list-unstyled > li > span {
  font-weight: 600;
  color: #000;
}

.condition-sgt {
  float: left;
  margin-bottom: 10px;
}

.ismobile {
  display: none;
}

.isdesktop {
  display: block;
}

.notification-homgepage {
  float: left;
  width: 100%;
  text-align: center;
}

.notification-homgepage .image-notify {
  position: fixed;
  z-index: 999999999;
  bottom: 0;
  display: table;
  left: calc(50%);
}

.notification-homgepage .image-notify:hover {
  opacity: 1;
}

.notification-homgepage .image-notify > a {
  margin-left: -50%;
  width: 100%;
  float: left;
  display: table;
  cursor: pointer;
  position: relative;
}

.notification-homgepage .image-notify > a:hover {
  opacity: 1;
}

.notification-homgepage .image-notify > a .close-notify {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  background: #333333ad;
  padding: 3px 8px;
  color: #fff;
}

.searchBoxLayout {
  position: relative;
}

.searchBoxLayout .contentSearchboxlayout {
  position: absolute;
  z-index: 102;
  right: 0;
  top: 60px;
  max-width: 420px;
  min-width: 320px;
  background: #fff;
  padding: 15px;
  border-radius: 4px;
}

.searchBoxLayout .contentSearchboxlayout .serch-box-layout-input {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.searchBoxLayout
  .contentSearchboxlayout
  .serch-box-layout-input
  .input-search-kiritm {
  float: left;
  width: 100%;
  height: 45px;
  padding: 7px 10px;
  font-size: 14px;
  line-height: 31px;
}

.searchBoxLayout .contentSearchboxlayout .serch-box-layout-input > .fa-kiritm {
  position: absolute;
  right: 0px;
  top: 11px;
  font-size: 16px;
}

.searchBoxLayout .contentSearchboxlayout .suggestions {
  top: 45px;
  position: absolute;
  z-index: 9999;
  background: #f1ec90;
  width: calc(100% - 30px);
}

.searchBoxLayout .contentSearchboxlayout .suggestions .ul-suggestion {
  list-style: none;
  float: left;
  width: 100%;
  padding-bottom: 10px;
  max-height: 250px;
  overflow-y: auto;
}

.searchBoxLayout
  .contentSearchboxlayout
  .suggestions
  .ul-suggestion
  .li-suggestion {
  float: left;
  width: 100%;
  border-bottom: 1px dashed #ccc;
  cursor: pointer;
}

.searchBoxLayout
  .contentSearchboxlayout
  .suggestions
  .ul-suggestion
  .li-suggestion:hover {
  background: #0072bc91;
}

.searchBoxLayout
  .contentSearchboxlayout
  .suggestions
  .ul-suggestion
  .li-suggestion:hover
  > span {
  color: #fff;
}

.searchBoxLayout
  .contentSearchboxlayout
  .suggestions
  .ul-suggestion
  .li-suggestion:last-child {
  border-bottom: 0;
}

.searchBoxLayout
  .contentSearchboxlayout
  .suggestions
  .ul-suggestion
  .li-suggestion
  > a {
  text-decoration: none;
}

.searchBoxLayout
  .contentSearchboxlayout
  .suggestions
  .ul-suggestion
  .li-suggestion
  > a
  span {
  line-height: 20px;
  padding: 7px 15px;
  color: #000;
  font-size: 13px;
  float: left;
  width: 100%;
}

.mark-close {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 101;
}

.form-search-layout-mobile {
  float: left;
  width: 100%;
  position: relative;
}

.form-search-layout-mobile .serch-box-layout-input-mobile {
  float: left;
  width: 100%;
  position: relative;
  z-index: 102;
}

.form-search-layout-mobile .serch-box-layout-input-mobile .input-search-kiritm {
  float: left;
  width: 100%;
  height: 38px;
  line-height: 22px;
  padding: 8px 10px;
  font-size: 14px;
  color: #000;
}

.form-search-layout-mobile .serch-box-layout-input-mobile .fa-kiritm {
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 16px;
}

.form-search-layout-mobile .content-search-layout-mobile {
  position: absolute;
  z-index: 102;
  top: 45px;
  background: #fff;
  width: 100%;
  padding: 10px;
}

.form-search-layout-mobile .content-search-layout-mobile .input-group {
  margin-bottom: 15px;
  height: 38px;
}

.form-search-layout-mobile
  .content-search-layout-mobile
  .input-group
  .form-control {
  height: 38px;
  margin-top: 0;
  font-size: 14px;
  color: #000;
}

.form-search-layout-mobile
  .content-search-layout-mobile
  .input-group
  .input-group-addon {
  background-color: transparent !important;
  height: 38px;
}

.form-search-layout-mobile
  .content-search-layout-mobile
  .input-group
  .input-group-addon
  span {
  color: #000;
}

@media only screen and (max-width: 1200px) {
  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }
}

@media only screen and (max-width: 480px) {
  .detail-tour-kiritm .row-info-tour .nav-tabs > li {
    width: 33%;
    text-align: center;
  }

  .detail-tour-kiritm .row-info-tour .nav-tabs > li > a {
    padding: 13px 5px;
    margin: 0;
    font-size: 12px;
  }

  .ismobile {
    display: block;
  }

  .isdesktop {
    display: none;
  }

  .pageTitle {
    height: 350px;
  }

  .pageTitle .titleTable {
    margin-top: 150px;
  }

  .row-box-price .box-price-tour {
    padding: 0 5px !important;
  }

  .highlight-text {
    margin-top: 0;
    margin-bottom: 15px;
    margin-left: 20px;
  }
}

.booking-container {
  background: #fff;
  padding-top: 30px;
}

.step-bar {
  counter-reset: step;
  position: relative;
  z-index: 1;
}

.step-bar li {
  list-style-type: none;
  width: 20%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.step-bar li:before {
  width: 40px;
  height: 40px;
  content: counter(step);
  counter-increment: step;
  line-height: 40px;
  border: 2px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}

.step-bar li:after {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #7d7d7d;
  top: 20px;
  left: -50%;
  z-index: -1;
}

.step-bar li:first-child:after {
  content: none;
}

.step-bar li.active {
  color: #0c95be;
}

.step-bar li.done {
  color: green;
}

.step-bar li.done:before {
  content: "âœ“";
}

.step-bar li.active:before {
  border-color: #0c95be;
}

.step-bar li.done:before {
  border-color: #55b776;
}

.step-bar li.done + li:after {
  background-color: #55b776;
}

.segment-info {
  margin-top: 40px;
}

.segment-info .route-name {
  font-size: 24px;
  color: #212121;
}

.segment-info .place-name {
  color: #004618;
  text-transform: uppercase;
}

.segment-info .select-time {
  margin-top: 20px;
  display: inline-block;
}

.segment-info .select-time input {
  display: none;
}

.segment-info .select-time a {
  display: block;
  width: 160px;
  height: 40px;
  background: #fff;
  border: 2px solid #898989;
  float: left;
  text-align: center;
  font-size: 24px;
  color: #212121;
  line-height: 40px;
  cursor: pointer;
  margin-right: 10px;
}

.segment-info .select-time a.active {
  background: #004618;
  border: none;
  color: #fff;
}

.segment-info .segment-detail {
  margin-top: 20px;
}

.segment-detail .detail-item_ .item_-label {
  color: #222222;
  font-size: 14px;
  display: inline-block;
  min-width: 165px;
  font-weight: 400;
  line-height: 25px;
}

.segment-detail .detail-item_.small .item_-label,
.segment-detail .detail-item_.small .value {
  font-size: 12px;
}

.segment-detail .detail-item_ .value {
  color: #222222;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  line-height: 25px;
}

.segment-detail .addition-info {
  margin-top: 15px;
}

.segment-detail .addition-info .selected-seat {
  margin-bottom: 20px;
  color: #004618;
  font-size: 18px;
  font-weight: bold;
}

.segment-detail .addition-info .selected-seat span {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.segment-detail .addition-info .icon {
  font-size: 60px;
  color: #004618;
  float: left;
  line-height: 30px;
}

.segment-detail .addition-info .content {
  overflow: hidden;
}

.segment-detail .addition-info .info-label {
  color: #222222;
  font-weight: bold;
  font-size: 13px;
}

.segment-detail .addition-info .value {
  font-style: italic;
}

.segment-info .segment-separator {
  border-bottom: 1px dashed #ebebeb;
  height: 1px;
  width: 100%;
  margin-top: 15px;
}

.ship-container {
  background-position: 50% 50%;
}

.select-seat-container {
  padding-top: 20px;
}

.select-seat-container .seat-info {
  margin: 0 auto;
  width: 50%;
}

.seat-info .seat-info-item_ {
  color: #212121;
  font-size: 14px;
  font-weight: 400;
}

.seat-info .seat-info-item_ img {
  width: 35px;
}

.booking-container .continue-btn {
  padding: 10px 60px 10px 10px;
  overflow: hidden;
  border: none;
  font-family: inherit;
  font-size: inherit;
  background: none;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  background: #00552b;
  color: #fff;
}

.booking-container .continue-btn:before {
  font-family: "FontAwesome";
  content: "\f178";
  right: 0;
  z-index: 2;
  position: absolute;
  height: 100%;
  left: auto;
  top: 0;
  line-height: 40px;
  font-size: 110%;
  width: 35px;
}

.booking-container .continue-btn:after {
  content: "";
  width: 30%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 1;
  right: 0;
  top: 0;
  margin: -5px 0 0 -5px;
  -webkit-transform-origin: 0 0;
  -webkit-transform: rotate(-20deg);
  -moz-transform-origin: 0 0;
  -moz-transform: rotate(-20deg);
  -ms-transform-origin: 0 0;
  -ms-transform: rotate(-20deg);
  transform-origin: 0 0;
  transform: rotate(-20deg);
  position: absolute;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.booking-container .continue-btn:hover:after {
  width: 40%;
}

.booking-container .passenger-info {
  margin-top: 10px;
}

.booking-container .segment-info.return {
  margin-top: 20px;
}

.passenger-info .header,
.contact-info .header {
  font-size: 24px;
  color: #212121;
  margin-top: 15px;
  margin-bottom: 10px;
}

.passenger-info .passenger-block {
  padding-left: 0;
  padding-top: 20px;
  padding-right: 50px;
}

.passenger-info .passenger-block .ticket-price {
  margin-left: 5px;
}

.passenger-info .booking-total {
  padding-top: 15px;
  display: block;
}

.passenger-info .wrapper {
  width: 100%;
  float: left;
  border-top: 1px dashed #ebebeb;
  border-bottom: 1px dashed #ebebeb;
  margin-top: 20px;
  padding-bottom: 25px;
}

.passenger-info .form-group {
  margin: 15px 0 0;
}

.passenger-info .form-group .idk-select {
  max-width: 70px;
  margin-left: 10px !important;
}

.passenger-info .form-group .idk-select li a {
  padding-left: 10px;
}

.passenger-info .form-group label {
  font-weight: normal;
  color: #7b6b6b;
}

input[type="checkbox"].checkbox {
  display: none;
}

input[type="checkbox"].checkbox + label {
  background: none;
  position: relative;
  margin: 0;
  clear: none;
  padding: 4px 0 3px 24px;
  cursor: pointer;
  font-weight: 300;
  line-height: 18px;
  display: block;
}

input[type="checkbox"].checkbox + label:before {
  content: "";
  width: 11px;
  height: 11px;
  border: 1px solid #b5b5b5;
  border-radius: 2px;
  position: absolute;
  top: 7px;
  left: 0;
  color: #919191;
  font-weight: normal;
  line-height: 1 !important;
  text-shadow: none !important;
  box-shadow: none !important;
  padding-left: 2px;
  font-size: 13px;
}

input[type="checkbox"].checkbox:checked + label:before {
  font-family: "FontAwesome";
  content: "\f14a";
  border: none;
  color: #00552b;
}

.passenger-info .header span,
.contact-info .header span {
  color: #004618;
}

.passenger-info .passenger-table {
  width: 100%;
}

.passenger-info .passenger-table th {
  font-weight: normal;
  border: none;
}

.passenger-info .passenger-table td {
  border: none;
}

.passenger-info .passenger-table tr.total-row,
.passenger-info .passenger-table tr.payment-fee-row {
  margin-top: 10px;
}

.passenger-table tr.total-row td.total-value {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #898989;
}

.passenger-info .table > tbody > tr > td,
.passenger-info .table > thead > tr > th {
  padding-left: 0;
  padding-right: 10px;
}

.passenger-table .seat-number {
  font-size: 16px;
  color: #004618;
  font-weight: bold;
  text-transform: uppercase;
}

.contact-info .input-wrap {
  padding: 0;
  margin-right: 50px;
  margin-bottom: 10px;
}

/*------------------------------------------Form-----------------------------------------*/

form input,
form textarea {
  border: none;
  border-bottom: 1px solid #a1a1a1;
  border-radius: 0;
}

form input:focus,
form select:focus,
form textarea:focus {
  outline: none;
  border-color: #66afe9;
}

form select {
  border: none;
}

form span.error {
  font-size: 12px;
  color: red;
  display: block;
  margin-top: 2px;
}

form .has-error .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}

form .has-error .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

form .has-success .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
}

form .has-success .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

form div.label-top {
  width: 100%;
  position: relative;
}

form div.label-top input.label-top,
form div.label-top textarea.label-top {
  padding: 20px 5px 5px 0;
  width: 100%;
}

form div.label-top select {
  padding: 17px 5px 8px 0;
  border: 0;
  height: 45px;
  border-bottom: 1px solid #999;
  border-radius: 0;
}

form div.label-top input.label-top ~ label,
form div.label-top textarea.label-top ~ label {
  position: absolute;
  top: 18px;
  left: 0;
  font-size: 14px;
  font-weight: normal;
  transition: all 0.2s ease-out;
  color: #7b6b6b;
  pointer-events: none;
}

form div.label-top input.label-top:focus ~ label,
form div.label-top input.label-top:active ~ label,
form div.label-top input.label-top.has-value ~ label,
form div.label-top textarea.label-top:focus ~ label,
form div.label-top textarea.label-top:active ~ label,
form div.label-top textarea.label-top.has-value ~ label {
  font-size: 11px;
  top: 2px;
  position: absolute;
  font-weight: bold;
}

form div.label-top input[type="password"].label-top:-webkit-autofill ~ label {
  font-size: 11px;
  top: 2px;
  position: absolute;
  font-weight: bold;
}

form .idk-select .dropdown-menu.open {
  padding: 0;
  border-radius: 0;
  top: 24px;
}

form .idk-select .bs-caret {
  color: #000;
}

form .idk-select .dropdown-menu ul li a {
  padding: 6px 0 6px 15px;
  outline: none !important;
}

form .idk-select {
  background: transparent;
}

form .idk-select .btn {
  padding: 6px 0;
  background-color: transparent !important;
  border: 0;
  border-bottom: solid 1px #a1a1a1 !important;
  line-height: 15px;
  border-radius: 0;
  height: 27px;
  margin-left: 0;
  outline: none !important;
  box-shadow: none !important;
}

form .idk-select .btn:focus {
  outline: none !important;
}

form .label-top .idk-select {
  margin-top: 18px;
}

/*---------------------------------------------------------------------------------------------*/

.booking-container .finish .header-title {
  color: #212121;
  font-size: 23px;
}

.booking-container .finish .header-title span {
  color: #004618;
}

.booking-container .finish .booking-status {
  font-size: 16px;
  color: #212121;
}

.booking-container .finish .booking-status span {
  color: #004618;
  font-weight: bold;
}

.booking-container .finish .notice {
  font-style: italic;
  line-height: 20px;
  padding: 0 7px;
}

.finish .segment {
  margin-top: 10px;
}

.finish .segment .item_-row {
  color: #222222;
}

.finish .segment .item_-row .item_-label {
  font-weight: 400;
  font-size: 14px;
  min-width: 150px;
  display: inline-block;
}

.finish .segment .item_-row .value {
  font-weight: bold;
  font-size: 18px;
}

.booking-container .finish .header-title.has-top-border {
  padding-top: 10px;
  border-top: 1px dashed #ebebeb;
}

.finish .booking-contact {
  margin-top: 10px;
}

.finish .booking-contact .item_-row {
  color: #222222;
}

.finish .booking-contact .item_-row .item_-label {
  font-weight: 400;
  font-size: 13px;
  min-width: 150px;
  display: inline-block;
  line-height: 24px;
}

.finish .booking-contact .item_-row .value {
  font-weight: bold;
  line-height: 24px;
}

.finish .payment-guide .header-title {
  margin-bottom: 10px;
}

.finish .payment-guide .payment-method {
  margin-left: 50px;
}

.finish .payment-guide p,
.finish .payment-guide span {
  line-height: 28px;
}

.finish .payment-guide .payment-method .title {
  color: #004d1b;
  font-weight: bold;
  margin-left: 15px;
}

.finish .payment-guide .bank-info .icon {
  margin-bottom: 20px;
  margin-top: 10px;
}

.finish .payment-guide .bank-info {
  margin-left: 20px;
}

.finish .payment-guide .bank-info .content {
  margin-left: 10px;
}

.error-container {
  background: #fff;
}

.error-wrapper {
  height: 500px;
  padding-top: 12%;
  background-size: cover;
  background-color: #fff;
  background-repeat: no-repeat;
}

.error-wrapper h1 {
  margin: 0;
  font-size: 70px;
}

.ship-container .popover-title {
  background-color: #3b3b42;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.ship-container .popover-content .price {
  font-weight: bold;
  font-size: 16px;
}

.ship-container .popover-content .notice {
  font-style: italic;
  font-size: 13px;
  margin-top: 5px;
}

.payment-wrap {
  margin-top: 0;
  margin-bottom: 30px;
}

.payment-wrap h3 {
  margin: 0;
}

.payment-wrap h4 {
  color: #222222;
  margin: 15px 0 0;
}

.payment-wrap .note {
  font-style: italic;
  font-size: 13px;
  margin-top: 5px;
}

.payment-wrap .methods {
  margin-top: 15px;
}

.methods .method {
  margin: 2px 0;
}

.method .title label {
  text-transform: uppercase;
  color: #222222;
  font-size: 17px;
}

.method .title .description {
  font-size: 13px;
}

.method .title i {
  position: absolute;
  right: 10px;
  top: 45%;
}

.method .content {
  font-size: 12px;
  padding-left: 10px;
  display: none;
}

.method .content h2 {
  font-size: 13px;
  font-weight: bold;
}

.method .submit {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.method .submit .payment-fee {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}

.method .submit .submit-btn {
  background: #00552b;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 35px;
  font-weight: bold;
}

.method.active .title {
  border: 2px solid #55b776;
}

.method.active .title i {
  display: none;
}

.method.active .content {
  display: block;
}

.methods .method .select-bank {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.methods .method ._123pay-title {
  margin-bottom: 5px;
}

.subscribed-segment {
  margin-top: 10px;
  font-size: 16px;
}

/*--------------------------------------------Notify------------------------*/

.notifyjs-corner {
  top: 70px !important;
  right: 70px !important;
}

/*-----------------------------------------------------------------------------*/

.feed-back-info {
  margin-top: 140px;
  text-align: center;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1224px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}
